<div class="anmlo_card">
    <div class="anmlo_card_wrap">
        <svg viewBox="0 0 200 25" fill="currentColor">
            <defs>
                <linearGradient id="card2Gradient">
                <stop offset="0%" stop-color="#fe8065" />
                <!-- <stop offset="50%" stop-color="black" stop-opacity="0" /> -->
                <stop offset="100%" stop-color="#7252fb" />
                </linearGradient>
            </defs>
            <text x="0" y="15" font-weight="bold" fill="url(#card2Gradient)" letter-spacing="1.25">MY STACK</text>
        </svg>
        
    </div>
    <div class="anmlo_experience_nav">
        <img title='android' src="/static/android.webp"/>
        <img title='ansible' src="/static/Ansible.png"/>
        <img title='aws' src="/static/aws.png"/>
        <img title='docker' src="/static/docker.png"/>
        <img title='flask' src="/static/flask.png"/>
        <img title='mssql' src="/static/mssql.png"/>
        <img title='mysql' src="/static/mysql.png"/>
        <img title='pagerduty' src="/static/pagerduty.webp"/>
        <img title='linux' src="/static/penguin.png"/>
        <img title='prometheus' src="/static/prometheus.png"/>
        <img title='python' src="/static/python.png"/>
    </div>
    <div class="anmlo_experience_text_wrapper">
        <div class="anmlo_experience_stack_text">
            content
        </div>
    </div>
    <div>
        <button title="Learn more about Ryan">
            Next Page
        </button>
    </div>
</div>