
<div class="anmlo_card">
    <div class="anmlo_card_wrap">
        <svg viewBox="0 0 150 25" fill="currentColor">
            <defs>
                <linearGradient id="card0_gradient">
                <stop offset="0%" stop-color="#fe8065" />
                <!-- <stop offset="50%" stop-color="black" stop-opacity="0" /> -->
                <stop offset="100%" stop-color="#7252fb" />
                </linearGradient>
            </defs>
            <text x="0" y="15" font-weight="bold" fill="url(#card0_gradient)" letter-spacing="1.25">MY NAME IS</text>
        </svg>
    </div>
    
    <h2>Ryan Johnson</h2>
    <p>
        I hope this demo finds you well, and that you were able to build it out as its intended Docker based image. 
        First, I would like to take this opportunity to thank you for your time and consideration of me as a candidate for the Platform Engineer role with Anomalo. 
        I look forward to being able to discuss my qualifications further with your team! </br></br>
        I have setup this little demo to give you and your team an opportunity to get to know me and what I am all about.
    <button title="Learn more about Ryan">
        Learn more!
    </button>
</div>