<div class="anmlo_card">
    <div class="anmlo_card_wrap">
        <svg viewBox="0 0 200 25" fill="currentColor">
            <defs>
                <linearGradient id="card1Gradient">
                <stop offset="0%" stop-color="#fe8065" />
                <!-- <stop offset="50%" stop-color="black" stop-opacity="0" /> -->
                <stop offset="100%" stop-color="#7252fb" />
                </linearGradient>
            </defs>
            <text x="0" y="15" font-weight="bold" fill="url(#card1Gradient)" letter-spacing="1.25">A LITTLE ABOUT ME</text>
        </svg>
        
    </div>
    <div class="anmlo_card_wrap_ab">
        <div class="anmlo_card_wrap_a">
            <div class="anmlo_card_wrap_section_a">
                <h2 style="margin-bottom: 2vmin;">Hard working, Fast learning, Army Veteran</h2>
                <p>
                    
                    With a passion for technologies and experience in several industries, 
                    I always strive to bring my dedication and ideas into what ever role I find. Most recently I have 
                    worked with distrubuted Linux and Android systems all over the globe aiding in deployments, infrastructure management,
                    data engineering and customer service. 
                </p>
            </div>
            <div class="anmlo_card_wrap_section_b">
                <div class="anmlo_card_sectionb_svg_wrap">
                    <img src="/static/android.webp"/>
                    <img src="/static/penguin.png"/>
                </div>
            </div>
        </div>
        <div class="anmlo_card_wrap_b">
            <button title="Learn more about Ryan">
                My Stack
            </button>
        </div>
    </div>
</div>