<div class="anmlo_card">
    <div class="anmlo_card_wrap">
        <svg viewBox="0 0 400 25" fill="currentColor">
            <defs>
                <linearGradient id="card3Gradient">
                <stop offset="0%" stop-color="#fe8065" />
                <!-- <stop offset="50%" stop-color="black" stop-opacity="0" /> -->
                <stop offset="100%" stop-color="#7252fb" />
                </linearGradient>
            </defs>
            <text x="0" y="15" font-weight="bold" fill="url(#card3Gradient)" letter-spacing="1.25">WHILE YOU WERE ENJOYING MY DEMO</text>
        </svg>
    </div>
    
    <h2>I've gathered some deatils about your stay!</h2>
    <p>
        Again, I would like to thank you for your time and consideration! Please have a look at some information I have gathered about your stay here. This is inteded to demostrate custom python modules loaded into the container as well as Redis implementation.
    </p>
    <div class="anmlo_card_json_disp">
        <pre class='anmlo_card_json_disp_wrap'>

        </pre>
    </div>
    <button title="Learn more about Ryan">
        Start Over
    </button>
</div>